.done {
  width: 5px;
  text-align: center;
}

.name {
  width: 300px;
}

.poms {
  width: 100px;
}

.links {
  width: calc(100% - 25px);
}

.project {
  width: 150px;
}

.actions {
  width: 100px;
  text-align: center;
}

.editable-item {
  display: flex;
}

.button-group {
  align-self: flex-end;
}

.content {
  flex-grow: 1;
}

.main-todos .complete {
  text-decoration: line-through;
}

.vertical-align {
  vertical-align: middle;
}
