.done {
  width: 60px;
  text-align: center;
}

.name {
  width: 300px;
}

.poms {
  width: 100px;
}

.links {
  width: calc(100% - 25px);
}

.project {
  width: 200px;
}

.title {
  width: 30%;
}

.template-title {
  width: 250px;
}

.description {
  width: 70%;
}

.actions {
  width: 50px;
  text-align: center;
}

.editable-item {
  display: flex;
}

.button-group {
  align-self: flex-end;
}

.content {
  flex-grow: 1;
}

.main-todos .complete {
  text-decoration: line-through;
}

.vertical-align {
  vertical-align: middle;
}

.wide-modal {
  width: 1000px;
  max-width: 80% !important;
}

.wide-modal .modal-dialog {
  width: 100%;
  max-width: none !important;
  margin: 0;
}

.toast-container-wrapper {
  opacity: 1 !important;
  z-index: 10000;
  position: fixed;
  bottom: 50px;
}

.small-invisible-button {
  background-color: transparent;
  border: none !important;
  border-color: white;
  margin: 0;
  padding: 0;
}

.dropdown-item.disabled {
  pointer-events: all; /* allow hover */
}
